@font-face {
  font-family: inter-regular;
  src: local("inter-regular"),
      url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: inter-bold;
  src: local("inter-bold"),
      url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

.font-size-1 {
font-size: 1.2em !important;
}

.inter-regular {
  font-family: "inter-regular";
}

.inter-bold {
  font-family: "inter-bold";
}

.large-title {
  font-size: 8rem !important;
  line-height: 8rem;
}

.rotate-svg {
  transform: rotate(180deg) !important;
}

.small-title {
  font-size: 3rem !important;
}